* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  position:absolute;
  z-index: 2;
  width: 100%;
  text-align: right;
  font-size: 2vw;
  text-decoration: none;
  color:#5e17eb;
  margin-left: -3vw;
  letter-spacing: 0.5vw;
  margin-top: 3vw;
  
  
  
}
a{
  text-decoration: none;
  color: #5e17eb;
  font-weight: bold;
}

a:hover{
  color: blueviolet;
}

.kepala {
  position: relative;
  height: 18vw;
  width: 100%;
}

.per1,
.per2 {
  position: relative;
  font-size: 5vw;
  padding-left: 18vw;
  top: 12vw;
  font-weight: 900;
  z-index: inherit;
}
.per2 {
  font-weight: 600;
  z-index: inherit;
  color: whitesmoke;
}

.forpro {
  position: relative;
  width: 14vw;
  height: 14vw;
  bottom: 7vw;
  padding-left: 2vw;
  border-radius: 100%;
  z-index: inherit;
}

main {
  background-color: #5e17eb;
  height: 120vw;
  top: 0.5vw;
  z-index: -1;
}
.warna {
  background-color: #5e17eb;
  height: 15vw;
  margin: 0px;
  padding: 0px;
}

.isi {
  position: relative;
  padding-top: 12vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#about {
  height: 34vw;
  background-color: whitesmoke;
}

.judul {
  font-size: 4vw;
}


.wallpaper{
  display: block;
  position: relative;
  height: 50vw;
  text-align: center;
  margin: 5vw;

}

.p1 {
  position: relative;
  top: 1vw;
  font-weight: 600;
  text-indent: 3vw;
  font-size: 3vw;
  text-align: justify;
  padding: 1vw;
}

#pendidikan {
  position: relative;
  height: 20vw;
  top: 5vw;
  color: black;
  background-color: whitesmoke;
  padding-left: 1vw;
}
.schoolist {
  position: relative;
  padding-left: 4vw;
  font-weight: 600;
  font-size: 3vw;
  top: 1vw;
}

#kontak{
  position: relative;
  height: 20vw;
  top: 8vw;
  background-color: whitesmoke;
  width: 40vw;
  padding-left: 1vw;
}

.logo1{

  height: 2vw;
}

.logo2{

  height: 3vw;
}

.tes{
  font-size: 2.2vw;
  font-style: normal;
  color: blue;
  
}
